.container {
  background: rgb(212, 64, 109);
  background: radial-gradient(
    circle,
    rgba(212, 64, 109, 0.5) 31%,
    rgba(100, 187, 219, 0.6) 59%
  );
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.form-title {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  text-align: center;
}

.form-btn {
  background-color: transparent;
  cursor: pointer;
  grid-column: span 2;
  border: 2px solid white;
  border-radius: 1rem;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.form-btn:hover {
  background-color: #ffffff33;
}

.password-container {
  background-color: white;
  color: black;
  height: 2rem;
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  border: 2px solid black;
  padding: 1rem 0 1rem 1rem;
  margin: 20px;
}

.password-display {
  word-break: break-all;
}

.copy-btn {
  border: none;
  border-radius: 1rem;
  background: rgba(189, 228, 226, 0.3);
  margin: 10px 0 10px 10px;
  padding: 1.5rem;
  cursor: pointer;
  font-weight: bold;
}

.input-number {
  width: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: bold;
}

.character-amount-container {
  display: flex;
  justify-content: center;
}

label {
  font-weight: bold;
}

@media (max-width: 480px) {
  .password-container {
    height: 4rem;
    width: 15rem;
    margin: 20px 5px;
  }

  .copy-btn {
    border: none;
    border-radius: 1rem;
    background: rgba(189, 228, 226, 0.3);
    margin: 0 0 0 10px;
    height: 6rem;
    width: 60px;
    cursor: pointer;
    font-weight: bold;
    padding-left: 10px;
  }

  .form {
    grid-template-columns: auto 10rem;
    row-gap: 2rem;
    column-gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
  }
}
